.create-employee-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.screen {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: relative;
  min-height: 700px;
  width: 500px;
  box-shadow: 0px 0px 24px #5C5696;
  border-radius: 10px;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2); 
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  display: inline-block;
}

.form__field {
  position: relative;
  margin-bottom: 20px;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #acaad1;
  font-size: 16px;
}

.form__input {
  width: 85%;
  height: 40px;
  padding: 10px;
  padding-left: 40px;
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  font-size: 16px;
  font-weight: 700;
  color: #fff7f7;
  transition: border-color 0.2s;
}

/* Style for placeholder */
.form__input::placeholder {
  color: #fff; 
}

/* Focus and hover effects */
.form__input:focus,
.form__input:hover {
  outline: none;
  border-bottom-color: #6A679E;
}

/* Error text styling */
.error-text {
  color: #e63946;
  font-size: 0.85rem;
  margin-top: 5px;
  display: block;
  text-align: left;
}

/* Labels for radio and checkbox groups */
.form__label {
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
  display: block;
}

/* Radio and checkbox group styling */
.form__radio-group label,
.form__checkbox-group label {
  font-size: 14px;
  color: #fff;
  margin-right: 15px;
}

/* Style for Designation Select */
.form__select {
  width: 85%;
  height: 40px;
  padding: 10px;
  padding-left: 40px;
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  font-size: 16px;
  font-weight: 700;
  color: #faf4f4; 
  transition: border-color 0.2s;
}

/* Style for placeholder in select */
.form__select::placeholder {
  color: #fff; 
}

/* Change text color for select options */
.form__select option {
  color: #8e8888; 
}

/* Submit button */
.form__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4C489D;
  box-shadow: 0px 2px 2px #5C5696;
  cursor: pointer;
}

.form__submit:hover {
  border-color: #6A679E;
}
